html {

    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

body {
    font-family: Tahoma;
    width: 75%;
    height: auto;
    background-color: #F3F3F3;
    margin: auto;
    border: 10px solid black;
    overflow: auto;
}

.box {
    border-bottom: 3px solid orange;
    padding: 1%;
}
.boxcontent {
    border-bottom: 1px solid rgba(59, 59, 58, 0.404);
    width: auto;
    display: flex;
    margin: 0 2%;
}
h2 {
    color: orange;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.box img {
    height: 20%;
    width: 20%;
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#perfil {
    float:left;
    width: 58%;
    text-align: left;
    margin: 3%;
   
}


#contacto {
    float: left;
    width: 30%;
    text-align: right;
    margin: 3%;
}

.seccion {
    font-size: 90%;
    float:left;
    text-align: center;
    padding: 2%;
    width: 40%;

}

.contenido {
    float: left;
    width: 70%;

}