* {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}
body {
    width: 1000px;
    margin: auto;
    background-color: aqua;
}

section.box {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 100px;
    float: left;
    font-size: 30px;
    display: flex; /* Establece el elemento como un contenedor flex */
    justify-content: center; /* Alinea horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente en el centro */
    border: 10px solid #71AB47;
    box-sizing: border-box;
}


#banner {
    background-color: white;
    width: 800px;
    height: 300px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #4374C0;
    box-sizing: border-box;
}
#logo {
    background-color: white;
    width: 200px;
    height: 100px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #4374C0;
    box-sizing: border-box;
}
#login {
    background-color: white;
    width: 200px;
    height: 100px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #4374C0;
    box-sizing: border-box;
}
#form {
    background-color: white;
    width: 200px;
    height: 100px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #4374C0;
    box-sizing: border-box;
}
#left {
    background-color: white;
    width: 200px;
    height: 500px;
    float: left;
    font-size: 30px;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #B3A681;
    box-sizing: border-box;
}
article {
    background-color: white;
    width: 500px;
    height: 500px;
    float: left;
    font-size: 30px;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #ACA697;
    box-sizing: border-box;
}
#right {
    background-color: white;
    width: 300px;
    height: 500px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #B3A681;
    box-sizing: border-box;
}

footer {
    background-color: white;
    width: 1000px;
    height: 50px;
    float: left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid #DDB720;
    box-sizing: border-box;
}